
//Fonts
$font-sans: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
$font-especial: "Coolvetica", $font-sans;
$font-general: "SN Pro", $font-sans;
$font-titles: "SuperFortune", $font-general;

//Font size
$font-size-h3: 32px;
$font-size-general: 16px;
$font-size-title: 80px;

//Colors
$primary-color: #242424;
$white-color: #ffffff;
$secondary-color: #5726b3;

$radius-md: 25px;