
//Fonts
$font-sans: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
$font-general: "Coolvetica", $font-sans;
$font-titles: "SuperFortune", $font-general;

//Colors
$primary-color: #242424;
$white-color: #ffffff;
$secondary-color: #5726b3;